
node_modules/
package-lock.json

dist/
build/
.vite/

src/libs/

src/assets/
src/models/*.glb
src/models/original/*.gltf
src/models/original/*.glb
src/models/original/*.json

*.gltf
*.glb
*.jpg
*.jpeg
*.png
*.avif
*.webp

texture_mapping.json