{
  "printWidth": 140,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
